*{margin:0;padding: 0;}
ul{list-style: none;}
h1,h2,h3{font-size: 16;font-weight: normal;}
a{text-decoration: none;color:white;}
html,body{font-family: Arial, Helvetica, sans-serif;height: 100%;overflow-y: hidden;}
.l{float: left;}
.r{float: right;}
.clear::after{content: "";display: block;clear: both;}